body{
   background-color: black;

}
.table{
    margin-left: 40%;
    margin-top: 30px;
    background-color: rgb(255, 254, 254);
    color: rgb(5, 5, 5);
  border-radius: 5px; 
 
}
.table :hover{
    background-color:rgb(21, 0, 255);
    color: white;
    border-radius: 5px;
}
.ta{
   
}
.page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.page li{
    list-style: none;
    padding: 2px;
    margin: 10px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #999;
    background-color: white;
    color: rgb(18, 17, 17);
    border-color: rgb(255, 0, 0);
}
.page li:hover{
    background-color:rgb(21, 0, 255);
    color: white;
}

.page li a{
    text-decoration: none;
    color: inherit;
    padding: 3px 8px;
    display: block;
    font-family: sans-serif;
    font-size: 13px;
}